@import url(https://fonts.googleapis.com/css?family=Raleway:400,500);

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Raleway', Helvetica, sans-serif;
}

header {
    position: fixed;
    display: flex;
    height: 80px;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    background-image: linear-gradient(to right, rgb(255, 255, 255), rgb(250, 250, 250));
    border-bottom: 2px solid #CA0202;
    top: 0;
    z-index: 6;
}

body {
    margin-top: 82px;
}

/* contact start */

#contact_footer_copyright {
    text-align: center;
    position: absolute;
    top: 1382px;
    bottom: 0px;
    width: 100%;
}

#contact_form {
    position: absolute;
    display: flex;
    top: 500px;
    left: 0;
    right: 0;
    height: 700px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 3px;
    width: 1000px;
    background: green;
}

#contact_form_instruction {
    margin: 50px;
}

#contact_form_left {
    flex: 2;
    display: flex;
    flex-direction: column;
    background: white;
}

#contact_form_right {
    flex: 1;
    background:orange;
}

#contact_main_block_bottom {
    position: absolute;
    width:100%;
    height: 500px;
    top: 882px;
    bottom:20px;
    background-image: url('../img/service_area_map.png');
    background-repeat: no-repeat;
    background-size: cover;
}

#contact_main_block_top {
    width: 100%;
    height: 800px;
    background: purple;
}

#contact_main_form {
    display: flex;
    justify-content: space-evenly;
    margin: 20px 10px 20px 10px;
}

#contact_tagline {
    padding: 150px 0px 0px 125px;
    font-size: 40px;
}

.contact_input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #CCC;
    padding-left: 5px;
    color: #555;
    box-sizing: border-box;
    font-family: 'Arvo';
    font-size: 18px;
    height: 40px;
    width: 250px;

    &:focus {
      outline: none;
    }
}

.contact_input:focus+.contact_underline,
.contact_input:focus+.contact_underline1 {
    transform: scale(1);
}

.contact_underline {
    background-color: rgba(239,35,60,1);
    display: inline-block;
    height: 2px;
    left: 58px;
    margin-top: -4px;
    position: absolute;
    top: 220px;
    -webkit-transform: scale(0, 1);
    transform: scale(0, 1);
    -webkit-transition: all 0.5s linear;
    transition: all 0.3s linear;
    width: 252px;
}

.contact_underline1 {
      background-color: rgba(239,35,60,1);
      display: inline-block;
      height: 2px;
      left: 358px;
      margin-top: -4px;
      position: absolute;
      top: 220px;
      -webkit-transform: scale(0, 1);
      transform: scale(0, 1);
      -webkit-transition: all 0.5s linear;
      transition: all 0.3s linear;
      width: 252px;
}

/* contact end */

/* nav start */

#header_logo {
    float: left;
}

#header_logo img {
    width: 300px;
    margin: 10px 0px 10px 40px;
}

#navbar {
    padding-top: 30px;
    padding-right: 30px;
    display: flex;
    flex-direction: row;
}

#navbar a {
    margin-left: 40px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 19px;
    font-weight: 500;
    letter-spacing: 0.10rem;
    color: rgb(224, 33, 55);
    outline: 0;
}

#navbar a:hover {
    color: rgb(192, 71, 71);
}

#navbar a:after {
    display:block;
    padding-bottom: 7px;
    content: '';
    border-bottom: solid 2px rgba(239,35,60,1);
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
}

#navbar a:hover:after { transform: scaleX(1.0); }

/* nav end */

/* hero start */

#hero {
    width: 100%;
    height: 600px;
    background-color: #CA0202;
    background-image: linear-gradient(90deg, rgba(217,4,41,1) 0%, rgba(239,35,60,1) 100%);
    box-shadow: inset 0 -10px 10px -10px #000000;
}

#hero_text {
    color: white;
    font-size: 30px;
    width: 500px;
    padding-top: 200px;
    margin-left: 200px;
}

/* hero end */

/* service cards start */

#services_container {
    display: flex;
    justify-content: space-between;
    margin: 75px auto 0px auto;
    padding: 0px 5% 0px 5%;
    max-width: 1300px;
}

#services_header {
    text-align: center;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 100px;
}

.landing_article {
    flex: 0 0 25%;
    text-align: center;
}

.landing_article h2 {
    margin-top: 40px;
    letter-spacing: 0.10rem;
}

.landing_article p {
    margin-top: 30px;
    line-height: 1.6rem;
}


.landing_article .material-icons {
    color: #CA0202;
    font-size:100px;
    text-shadow: inset 2px 2px #ff0000;
    margin-top: 20px;
}

/* service cards end */

/* tagline start */

#tagline {
    margin: 100px auto 100px auto;
    text-align: center;
}

#tagline_header {
    font-size: 50px;
}

.tagline_block {
    width: 300px;
    display: inline-block;
    margin: 50px;
    border: 1px solid black;
    padding: 10px;
}

.tagline_button {
    margin: auto;
    margin-top: 25px;
    background-image: linear-gradient(90deg, rgba(239,35,60,1) 0%, rgba(217,4,41,1) 100%);
    border-radius: 4px;
    font-size: 20px;
    line-height: 45px;
    width: 150px;
    border: 0px rgba(217,4,41,1) solid;
    vertical-align: middle;
}

.tagline_button a {
    color: white;
}

.tagline_block a {
    text-decoration: none;
    
}

/* tagline end */

/* footer start */

footer {
    box-shadow: inset 0 10px 10px -10px #000000;
    background-image: linear-gradient(90deg, rgba(217,4,41,1) 0%, rgba(239,35,60,1) 100%);
    color: white;
}

footer ul, footer li {
    padding: 5px;
}

footer ul {
    list-style-type: none;
}

.hours_line {
    display: inline-block;
}

#hours_line_2 {
    margin-left: 40px;
}

#footer_copyright {
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}

#footer_links a {
    text-decoration: none;
}

#footer_contact {
    width: 25%;
    text-align: left;
}

#footer_links {
    width: 25%;
    text-align: left;
}

#footer_container {
    width: 45%;
    position: relative;
}

#footer_statement {
    margin-top: 20px;
    font-size: 30px;
}

#footer_action {
    margin: auto;
    margin-top: 25px;
    background-image: linear-gradient(90deg, rgba(239,35,60,1) 0%, rgba(217,4,41,1) 100%);
    border-radius: 4px;
    font-size: 20px;
    line-height: 45px;
    width: 150px;
    border: 0px rgba(217,4,41,1) solid;
    vertical-align: middle;
}

#footer_action a {
    text-decoration: none;
    color: white;
    display: block;
}

#footer_action a:hover {
    transition: all ease-in-out 300ms;
    color: rgb(224, 224, 224);
}

.footer_block {
    margin: 10px 10px 10px 10px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    height: 210px;
}

.icon_link {
    width: 50px;
    height: 50px;
    margin: 10px;
}

/* footer end */