@import url(https://fonts.googleapis.com/css?family=Raleway:400,500);

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Raleway', Helvetica, sans-serif;
}

header {
    position: fixed;
    display: flex;
    height: 80px;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    background-image: linear-gradient(to right, rgb(255, 255, 255), rgb(250, 250, 250));
    border-bottom: 2px solid #CA0202;
    top: 0;
}

body {
    margin-top: 82px;
}

#header_logo {
    float: left;
}

#header_logo img {
    width: 300px;
    margin: 10px 0px 10px 40px;
}

#navbar {
    padding-top: 30px;
    padding-right: 30px;
    display: flex;
    flex-direction: row;
}

#navbar a {
    margin-left: 40px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 19px;
    font-weight: 500;
    letter-spacing: 0.10rem;
    color: rgb(224, 33, 55);
    outline: 0;
}

#navbar a:hover {
    color: rgb(192, 71, 71);
}

#navbar a:after {
    display:block;
    padding-bottom: 7px;
    content: '';
    border-bottom: solid 2px rgba(239,35,60,1);
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
  }

  #navbar a:hover:after { transform: scaleX(1.0); }


#hero {
    width: 100%;
    height: 850px;
    background-color: #CA0202;
    background-image: linear-gradient(90deg, rgba(217,4,41,1) 0%, rgba(239,35,60,1) 100%);
    box-shadow: inset 0 -10px 10px -10px #000000;
}

#hero_text {
    color: white;
    font-size: 30px;
    width: 500px;
    padding-top: 300px;
    margin-left: 200px;
}

#services_container {
    display: flex;
    justify-content: space-between;
    margin: 75px auto 0px auto;
    padding: 0px 5% 0px 5%;
    max-width: 1300px;
}

#services_header {
    text-align: center;
    width: 100%;
    margin-top: 100px;
    margin-bottom: 100px;
}

.landing_article {
    flex: 0 0 25%;
    text-align: center;
    /*box-shadow: 0 0 5px #000; <-maybe? */
}

.landing_article h2 {
    margin-top: 40px;
    letter-spacing: 0.10rem;
}

.landing_article p {
    margin-top:30px;
    line-height: 1.6rem;
}


.landing_article .material-icons {
    color: #CA0202;
    font-size:100px;
    text-shadow: inset 2px 2px #ff0000;
    margin-top: 20px;
}

#message {
    margin-top: 50px;
    width: 40vw;
}

footer {
    border-top: 2px solid black;
}

footer ul, footer li {
    display: inline-block;
    padding: 5px;
}

#footer_copyright {
    background-color: whitesmoke;
    text-align: center;
}

footer li {
    border-left: 1px solid black;
    border-right: 1px solid black;
}